
#grupos_actuales{
	margin-top:15px;
	overflow:scroll;
	max-width:420px;
	width:90%;
	height:auto;
	font:10px arial;
	color:#999;
	min-height:100px;
	margin:auto;
	text-align:center;
	background:white;}

.th{
	width:820px;
	height:40px;
	background:#303030;
	color:white;
	text-transform:uppercase;
	box-shadow: rgba(0,0,0,0.5) 5px -5px 10px inset;
}
.th .td{
	padding-top:5px;
  font:bold 14px arial;
  
  width:100px;
  height:35px;
  display:inline-block;
  vertical-align:top;
}
.tb{
	width:820px;
	height:40px;
	background:white;
	color:black;
}
.tb .td{
	width:100px;
	height:40px;
	display:inline-block;
	vertical-align:top;
}
.td{
	border:1px solid #999;
}
