header,footer{
	background:#999;
	width:100%;
	max-width:400px;
	height:70px;
}
section{
max-width:400px;
}
	
#head{
	width:60%;
	margin:auto;
	text-align:center;
	height:50px;
	display:inline-block;
} 

#buttom_header{
	width:30%;
	margin:auto;
	text-align:center;
	height:50px;	display:inline-block;vertical-align:top;
}

header #head h1{
	font:bold 16px arial;
}

header #buttom_header a{
	text-decoration:none;
	font:bold 16px arial;
}
section{
	height:200px;
	width:100%;
}
